
  <div style="display: flex; justify-content: space-between; margin-bottom: 20px; margin-top: 10px;">
    <!-- Select para Municipios -->
    <div>
      <label for="municipioSelect">Selecciona un municipio:</label>
      <select id="municipioSelect" (change)="onMunicipioChange($event)">
        <option value="">Selecciona una opción</option>
        <option *ngFor="let municipio of municipios_component" [value]="municipio.id">
          {{ municipio.name }}
        </option>
      </select>
    </div>
  
    <!-- Select para Ciudades -->
    <div>
      <label for="ciudadSelect">Selecciona una ciudad:</label>
      <select id="ciudadSelect" [disabled]="isCiudadSelectDisabled" (change)="onCiudadChange($event)">
        <option value="">Selecciona una opción</option>
        <option *ngFor="let ciudad of filteredCiudades" [value]="ciudad.id">
          {{ ciudad.name }}
        </option>
      </select>
    </div>
  
    <div>
      <button (click)="onBackToCurrentPosition()">Volver a centrar</button>
    </div>
  </div>
  <!-- Contenedor de Mapbox -->
  <div id="mapbox" style="width: 100%; height: 500px;"></div>
